* {
    font-family: Arial, sans-serif;
  }
  
  
  table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: burlywood;
  }
  

  tr td{
    background-color: goldenrod;
  }
body{
  margin-left: 50px;
  margin-right: 50px;
}
header{

  
}
nav a{

  background: coral;
  text-decoration: none;
  color:darkslateblue;
  width: 90px;
  height: 25px;
  display: block;
  border:solid rgb(85, 78, 78) 7px;
  padding:5px
}
  